.context-info {
  z-index: 1000;
  position: absolute;
  font-family: arial, helvetica, sans-serif;
  font-size:1.25vw;
  color: white;
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 1%;
}

.timer-wrapper {
  float:right;
}

.path-wrapper {
  float:left;
}

.image-one {
  z-index: 2;
}
.image-two {
  z-index: 1;
}

.image-one, .image-two {
  position: fixed;
  width: 100vw;
  height: 100vh;
  margin: -8px;
  padding: 0px;
  margin: -8px;

  background-size: cover;
  background-color: red;
  background-blend-mode: multiply;
}


#image-canvas {
  z-index: 3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
